* {box-sizing: border-box}
input[type=text], input[type=password] {
    width: 20%;
    padding: 15px;
    margin: 3px 0 19px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .signup-form {
    padding: 16px;
  }
